# Godot 4.1+
.godot/
*.translation
export.cfg
export_credentials.cfg
*.tmp

# Build files
[Bb]in/
[Oo]bj/

# C# / .NET user-specific files
*.csproj.user
*.csproj.old
*.suo
*.user
*.userprefs
*.rsuser
*.pidb
*.booproj
*.sln.docstates
mono_crash.*

# IDE
.vscode/
.vs/
.idea/

# Local settings
Properties/launchSettings.json

# OS
.DS_Store
Thumbs.db