# Godot 4
.import/
.export/
.export_presets.cfg
mono/
data_*/
.godot/

# Build files
bin/
obj/

# C#
*.csproj.user
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.vs/
.idea/
*.sln

# Local/IDE stuff
*.csproj.old
Properties/launchSettings.json